@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  border-color: rgb(39 39 42);
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
